name: CD - Deploy to EC2

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ master ]

permissions:
  contents: write
  actions: read

jobs:
  deploy:
    name: SSH to EC2 and Deploy
    runs-on: self-hosted

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Download image tag
        uses: actions/download-artifact@v4
        with:
          name: image-tag

      - name: Read image tag
        id: tag
        run: echo "TAG=$(cat image_tag.txt)" >> $GITHUB_ENV

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          port: '22'
          script: |
            cd /home/ubuntu/cdc-stream/docker
            sh deploy.sh ${{ secrets.DOCKER_USERNAME }}/website $TAG